:root{
    --title-text-color:#212121;
    --primary-text-color: #757575;
    --text-white:#fff;
    --accent-color:#2196F3;
    --primary-bg-color:#fff;
    --secondary-bg-color:#F5F4FA;
    --primary-white-color:#fff;  
    --accent-color-hover:#0f78ce;
    --footer-hero-bg-color:#2F303A;
    --primary-border-color:#EEEEEE;
}

body{
   
    font-family: 'Roboto', Sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
   
}

/* Utility reset classes*/
ul, 
h1, 
h2, 
h3, 
p{
    margin:0;
    padding: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    
}
img {
    display: block;
}
.list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.section.no-padding{
    padding-top: 0;    
}
/*containers style*/

.container{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    /*outline: 1px solid tomato;*/
}
.flex-container{
    display: flex;
    flex-wrap: wrap;  
    
}

.flex-element{
    width: 370px;
    background-color:tomato;
    margin-right: 30px;
    margin-bottom: 30px;
}
.flex-element:nth-child(3n){
    
    margin-right: 0px;
}

/* Page Header*/
.page-header{
background-color:var(--primary-bg-color);
}
.logo-link{
    color:var(--accent-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.logo-link:hover,
.logo-link:focus
{
    color:var(--accent-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.logo-site{
    color:var(--title-text-color);
    text-decoration: none;
}

/*Navigation*/
.main-nav{
    display: flex;
    align-items: center;
}
.site-nav {
    display: flex;
    align-items: center;
    margin-left: 93px;
}

.site-nav .item +.item{
    margin-left: 50px;
}

.site-nav .link{
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    color:var(--title-text-color);  
    font-weight: 500;
    text-decoration: none;
    
}

.site-nav .link:hover,
.site-nav .link:focus{
    color:var(--accent-color);
    text-decoration: none;
}
.site-nav .link.current{
color: var(--accent-color);
text-decoration: none;
}
.contact-nav{
    display: flex;
    margin-left: auto;
}
.contact-nav .item +.item{
    margin-left: 40px;
}

.contact-header {
    color:var(--primary-text-color);
    line-height: 1.14em;
    text-decoration: none;
}
.contact-header:hover,
.contact-header:focus
{
    color:var(--accent-color);
    text-decoration: none;
}

/*Section*/
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}
.section-title{
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2em;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--title-text-color)
}

.hero-section {

    background-color:var(--footer-hero-bg-color);
    color:var(--primary-white-color);
    text-align: center;

}
.hero-title{
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.35em;
    text-align: center;
    letter-spacing: 0.06em; 
    text-transform: uppercase;
    background-color:var(--footer-hero-bg-color);
    color:var(--primary-white-color);
}

/* Buttons*/
.button{
color:var(--title-text-color);
background-color:var(--primary-bg-color);
text-decoration: none;
}
.button-list{
color:var(--title-text-color);
background-color:var(--primary-bg-color);
text-decoration: none;
}
.button.primary{
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87em;
    letter-spacing: 0.06em;
    border: none;
    border-radius: 4px;
    background-color:var(--accent-color);
    color:var(--primary-white-color);
    text-decoration: none;
    
}
.button.primary:hover, 
.button.primary:focus{
    border: none;
    background-color:var(--accent-color-hover);
    color:var(--primary-white-color);
    text-decoration: none;
    cursor: pointer;
}

.button.secondary{
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6em;
    letter-spacing: 0.03em;
    border: none;
    border-radius: 4px;
    background-color:var(--secondary-bg-color);
    color:var(--title-text-color);
    text-decoration: none;
}
.button.secondary:hover, 
.button.secondary:focus{
    border: none;
    background-color:var(--accent-color);
    color:var(--primary-white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
                0px 1px 2px rgba(0, 0, 0, 0.08), 
                0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    cursor: pointer;
}
.filter-buttons
{
    display: flex;
    margin-bottom: 50px;
    justify-content: center;

}
.filter-buttons .secondary{
    margin-right: 8px;
    padding: 6px 22px 6px 22px;
}




/*Feature List*/
.info-text{
    font-weight: 400;
    line-height: 1.7em;
    margin-top: 0;
    margin-bottom: 0;
}
.info-list
{
    margin-right: 30px;
    flex-basis: calc((100% - 90px) / 4);
}
.info-list:nth-child(4n){
    margin-right: 0px;
}
.list-title{
    font-weight: 700;
    color: var(--title-text-color);
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 10px;
}

.feature-list {
    display: flex;
    margin-right: -30px;
    list-style: none;
    text-decoration: none;
   
}

/*What we Do*/
.section-work .section-title{
    margin-bottom: 50px;
}
.work-list{
    display: flex;
    margin-right: -30px;
}
.work-list .info-list{
    margin-right: 30px;
    flex-basis: calc((100% - 60px) / 3);
    
}

/* Team List*/
.section-team .section-title{
    margin-bottom: 50px;
}
.section.section-team{
    background-color:var(--secondary-bg-color);
}
.team-list{
    display: flex;
    margin-right: -30px;
}
.team-list h3{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 30px;
    margin-bottom: 10px;
}
.team-list p{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 30px;
}

.team-list .info-list{
    margin-right: 30px;
    flex-basis: calc((100% - 90px) / 4);
    box-shadow: 
    0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--primary-bg-color);
}

/*Portfolio List*/
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    margin: -15px;
}
.portfolio-element{
    width: 370px;
    margin: 15px;
}
.portfolio-element-info{
   
    border-left: 1px solid var(--primary-border-color);
    border-bottom: 1px solid var(--primary-border-color);
    border-right: 1px solid var(--primary-border-color);
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.porfolio-ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    list-style: none;
}

.porfolio-ul h3 {
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
    margin-bottom: 4px;
}
.porfolio-ul p{
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.porfolio-ul li{
    flex-basis: calc((100% - 60px)/3);
}
.porfolio-ul li:hover{
    box-shadow: 
    0px 1px 1px rgba(0, 0, 0, 0.12), 
    0px 4px 4px rgba(0, 0, 0, 0.06), 
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/*Footer Styles*/
.footer{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color:var(--footer-hero-bg-color);
    color:var(--primary-white-color);
}
.logo-footer{
    color:var(--text-white);
    text-decoration: none;
}
.footer p{
    color:var(--primary-white-color);
}
.footer .logo-link{
    display: inline-block;
    margin-bottom: 20px;
}
.footer-email{
    margin-top: 9px;
    margin-bottom: 9px;
}

.contact-footer {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
.contact a{
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color:var(--primary-text-color);
    margin-top: 9px;
}
.contact li :hover,
.contact li :focus {
    color: var(--accent-color);
}